body {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
    /* we add some padding top to create the space for our fixed header to sit inside of */
    padding-top: 104px;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    /* flexbox is a modern csslayout model that givesusmuchmorepowerover howelem are positioned */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    /* float: left; */
    width: 64px;
}

header nav {
    /* float: right; */
    /* margin-top: 20px; */
}

header nav a{
    margin-left: 10px;
    font-size: 22px;
}

/* active link style */
.selected {
   border-bottom: solid 2px #fff; 
   padding-bottom: 3px;
}

.photos {
    /* to align elem in one line */
    display: flex;
    /* to tell flexbox that it's ok to put stuff on a new line, wrap items in a new row */
    /* text-align: center; */
    flex-wrap: wrap;
    align-items: end;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.photo {
    /* inline block gives us the best of both inline and block elements allowing us to stack them side by side and also align our elements vertically in the row */
    /* display: inline-block; */
    width: 320px;
    margin: 10px;
    /* we can use vertical align to align our rows to bottom/middle/top */
    /* vertical-align: top; */
    /* by using position relative on the parent photo elem, our overlay will be positioned in relation to it */
    position: relative;
}

.overlay {
    /* by using absolute position we can position things in relation to the page or other elements */
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    /* we can specify colours using rgb values, and in this case we can also control the alpha channel which is for transparency */
    background-color: rgba(0, 0, 0, 0.3);

    opacity: 0;
    transition: opacity 0.3s;
}

.photo:hover .overlay {
    opacity: 1;
}

.photo h2 {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 32px;
    line-height: 1.2;
}

.small {
    width: 250px;
}

.large {
    width: 400px;
}

footer {
    /* overflow: hidden; */
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

footer p {
    /* float: left; */
}

footer nav {
    /* float: right; */
}

footer nav a {
    width: 16px;
    margin-left: 5px;
    display: inline-block;
}


